<div class="ui tab" data-tab="age_verification">
    <h3 class="ui top attached header">{{ 'setono_sylius_age_verification.ui.age_verification'|trans }}</h3>

    <div class="ui attached segment">
        {{ form_row(form.minimumAge) }}
    </div>
</div>
